<%- include('./partials/cheader.ejs') %>
<h1 class="text-center">We Are <span class="text-primary mt-5">Friends</span></h1>
<div class="container-fluid mt-5">
    <div class="container text-center">
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="card" style="width: 100%;">
                    <img src="../img/nitesh.png" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                      <h2 class="card-title fw-bold">Nitesh</h2>
                      <p class="card-text">Hey, <span class="fst-italic fw-bold">This is Nitesh</span>, Currently Pursuing M.Sc from patna University, and also IAS/BPSC aspirent</p>
                      <a href="/nitesh" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 100%;">
                    <img src="../img/saheb.png" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                      <h2 class="card-title fw-bold">Saheb</h2>
                      <p class="card-text">Hey, <span class="fst-italic fw-bold">This is Saheb</span>, Currently Pursuing M.Sc from patna University, and also IAS/BPSC aspirent</p>
                      <a href="/saheb" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 100%;">
                    <img src="../img/aniket.png" class="card-img-top img-fluid rounded">
                    <div class="card-body">
                      <h2 class="card-title fw-bold">Aniket</h2>
                      <p class="card-text">Hey, <span class="fst-italic fw-bold">This is Aniket</span>, Currently Pursuing Bachelor of Engineering from Chitkara University HP.</p>
                      <a href="/aniket" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>