<%- include('./partials/header.ejs') %>
<div class="container py-5" style="display: flex; justify-content: center; align-items: center; ">
    <div class="card" style="width: 18rem;">
        <h1 class="text-center">Log<span class="text-primary">in</span></h1>
        <div class="card-body">
          <form action="/login" method="post">
            <input type="email" class="form-control py-2 mt-2" name="userEmail" placeholder="expamle@gmail.com">
            <input type="password" class="form-control py-2 mt-2" name="userPassword" placeholder="********">
            <input type="submit" class="form-control py-2 mt-2 btn btn-primary" value="Login">
          </form>
        </div>
      </div>
</div>
<%- include('./partials/footer.ejs') %>